<template>
 <h3>Selamat Datang Di Aplikasi Penjualan </h3>
</template>

<style scoped>
    h3{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>