<template>

    <div class="container">
        <h3>Edit Data Penjualan</h3>

        <div class="alert alert-danger mt-4" v-if="errors.length">
            <ul class="mb-0">
                <li v-for="(error, index) in errors" :key="index">
                    {{ error }}
                </li>
            </ul>
        </div>

        <form @submit.prevent="updatePenjualan" novalidate>
            <div class="mb-3">
                <label for="" class="form-label">Nama Barang</label>
                <input type="text" class="form-control" id="nama_barang" aria-describedby="Nama" v-model="penjualan.nama_barang">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">stok</label>
                <input type="number" class="form-control" id="stok" aria-describedby="stock" v-model="penjualan.stok">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Jumlah Terjual</label>
                <input type="number" class="form-control" id="jumlah_terjual" aria-describedby="Jumlah" v-model="penjualan.jumlah_terjual">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Tanggal Transaksi</label>
                <input type="date" class="form-control" id="tanggal_transaksi" aria-describedby="tanggal" v-model="penjualan.tanggal_transaksi">
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Jenis Barang</label>
                <select id="jenis_barang" class="form-select" v-model="penjualan.jenis_barang">
                    <option selected>Pilih Salah Satu</option>
                    <option value="Komsumsi">Komsumsi</option>
                    <option value="Pembersih">Pembersih</option>
                </select>
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<style scoped>
    h3{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #example{
        margin-top: 20px;
    }
    form{
        margin-bottom: 20px;
    }
</style>

<script>
import axios from 'axios';

    export default{
        data(){
            return{
                penjualan: {},
                nama_barang: '',
                stok: '',
                jumlah_terjual: '',
                tanggal_transaksi: '',
                jenis_barang: '',
                errors: []
            }
        },
        created(){
            this.getPenjualanById();
        },
        methods:{
            async getPenjualanById(){
                let url = `http://127.0.0.1:8000/api/get_penjualan/${this.$route.params.id}`;
                await axios.get(url).then(response => {
                    console.log(response);
                    this.penjualan = response.data;
                })
            },
            async updatePenjualan(){
                this.errors = [];
                if(!this.penjualan.nama_barang){
                    this.errors.push("nama barang is required")
                }
                if(!this.penjualan.stok){
                    this.errors.push("stok barang is required")
                }
                if(!this.penjualan.jumlah_terjual){
                    this.errors.push("jumlah terjual barang is required")
                }
                if(!this.penjualan.tanggal_transaksi){
                    this.errors.push("tanggal transaksi barang is required")
                }
                if(!this.penjualan.jenis_barang){
                    this.errors.push("jenis barang barang is required")
                }

                if(!this.errors.length){
                    let formData = new FormData();
                    formData.append('nama_barang', this.penjualan.nama_barang);
                    formData.append('stok', this.penjualan.stok);
                    formData.append('jumlah_terjual', this.penjualan.jumlah_terjual);
                    formData.append('tanggal_transaksi', this.penjualan.tanggal_transaksi);
                    formData.append('jenis_barang', this.penjualan.jenis_barang);

                    let url = `http://127.0.0.1:8000/api/update_penjualan/${this.$route.params.id}`;
                    await axios.post(url, formData).then((response) => {
                        console.log(response);
                        if(response.status == 200){
                            // this.penjualan.nama_barang ='',
                            // this.penjualan.stok ='',
                            // this.penjualan.jumlah_terjual ='',
                            // this.penjualan.tanggal_transaksi ='',
                            // this.penjualan.jenis_barang='',
                            // alert(response.data.message);
                            this.$swal({
                                title: 'Success',
                                text: 'Berhasil Edit Data',
                                icon: 'success',
                                confirmButtonText: 'Oke'
                            })
                        }
                    }).catch(error => {
                        this.push(error.response)
                    })
                }
            }
        },
        mounted(){
            console.log('edit form loaded')
        }
    }
</script>