<template>
    <div class="container">
        <h3>Data Penjualan</h3>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <routerLink to="/AddPenjualan" type="button" class="btn btn-primary"> Tambah </routerLink>
                <form class="d-flex" role="search">
                    <input v-model="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </nav>

        <table id="example" class="table table-hover" >
            <thead>
                <tr class="table-primary">
                    <th scope="col">No</th>
                    <th scope="col">Nama Barang</th>
                    <th scope="col">Stok</th>
                    <th scope="col">Jumlah Terjual</th>
                    <th scope="col">Tanggal Transaksi</th>
                    <th scope="col">Jenis Barang</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody v-for="data in penjualan" :key="data.id">
                <tr>
                    <th scope="row">{{ data.id }}</th>
                    <th scope="row">{{ data.nama_barang }}</th>
                    <th scope="row">{{ data.stok }}</th>
                    <th scope="row">{{ data.jumlah_terjual }}</th>
                    <th scope="row">{{ data.tanggal_transaksi }}</th>
                    <th scope="row">{{ data.jenis_barang }}</th>
                    <th scope="row">
                        <router-link :to="{  name: 'EditPenjualan', params: {id: data.id} }" type="button" class="btn btn-info" style="margin-right: 10px;"> Edit </router-link>
                        <button type="button" class="btn btn-danger" @click.prevent="deletePenjualan(data.id)"> Hapus </button>
                    </th>
                </tr>
            </tbody>
            <tbody></tbody>
        </table>
        <RouterView/>
    </div>

</template>

<script>
    import axios from 'axios';
    import DataTable from 'datatables.net-vue3';
    import DataTablesCore from 'datatables.net';

    DataTable.use(DataTablesCore);

    export default{
        name: 'penjualanList',
        data() {
            return{
                penjualan: [],
                search: ''
            }
        },
        created() {
            this.getPenjualan();
        },
        methods: {
            async getPenjualan(){
                let url = 'http://127.0.0.1:8000/api/penjualan'
                await axios.get(url).then(response => {
                    this.penjualan = response.data.penjualan;
                    console.log(this.penjualan);

                }).catch(error => {
                    console.log(error)
                });
            },
            async deletePenjualan(id){
                let url = `http://127.0.0.1:8000/api/delete_penjualan/${id}`;
                await axios.delete(url).then(response => {
                    if(response.data.code == 200){
                        this.$swal({
                                title: 'Success',
                                text: 'Berhasil menghapus Data',
                                icon: 'success',
                                confirmButtonText: 'Oke'
                            })
                        // alert(response.data.message);
                        this.getPenjualan();
                    }
                }).catch(error => {
                    console.log(error)
                });
            }
        },
        mounted() {
            console.log('penjualan mounted')
            // this.getPenjualan();
        },
        computed: {
            penjualan:function(){
                return this.penjualan.filter((data) => {
                    return data.nama_barang.match(this.search) || data.tanggal_transaksi.match(this.search)
                })
            }
        }
    }
</script>

<style scoped>
    h3{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #example{
        margin-top: 20px;
    }
</style>