

<template>
  <div class="menu">
    <Navbar/>
    <RouterView/>
  </div>

  <!-- merender routerlink -->



</template>

<script>
import Navbar from './components/Navbar.vue'
import PenjualanView from './views/PenjualanView.vue'

export default {
  components:{
    Navbar,
    PenjualanView
  }
}

</script>

