<template>
    <nav class="navbar " style="background-color: #e3f2fd;">
  <div class="nav">
    <RouterLink to="/"> Dashboard </RouterLink>
    <RouterLink to="/penjualan"> Penjualan </RouterLink>
  </div>
</nav>
</template>

<style scoped>
    a{

        text-decoration: none;
        color: rgb(5, 55, 72);
        padding: 20px;

    }
    a:hover{
        color: red;
    }
    .nav{
      height: 60px;
    }
</style>